.App {
  font-family: "DM Sans", sans-serif;
  background-color:  var(--white-color);
  min-height: 100vh;
}

.Main {
  padding-top: 75px;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blue-color);
  transition: color ease-in-out 0.3s;
}

a:hover,
a:hover i {
  color: var(--grey-color);
}

i {
  color: var(--blue-color);
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: var(--grey-color);
}


@media screen and (max-width: 991px) {
  .Main {
    padding-top: 65px;
  }
}
