.Button {
    font-weight: bold;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: var(--blue-color) !important;
}

.Button:active {
    background-color: var(--blue-color) !important;
}

.Button:focus {
    background-color: var(--blue-color);
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}


.Blue {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.Blue:hover {
    background-color:  var(--white-color);
    color: var(--blue-color);
}
