.Button {
    font-weight: bold;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    padding: 10px 50px;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active,
.Button:active {
    background-color: var(--blue-color) !important;
}


.Button:focus {
    background-color: var(--blue-color);
}

.ButtonGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
} 

.ButtonTransparent {
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
    background-color: var(--white-transparent-color);
    border: ridge;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 0 10px 10px 0;
    min-width: 125px;
}

.ButtonTransparent:hover,
.ButtonTransparent:hover i,
.ButtonTransparent:focus,
.ButtonTransparent:focus i{
    color: var(--white-color) !important;
    background-color: var(--grey-color) !important;
    border-color: var(--grey-color);
    outline: none !important;
}

.ButtonTransparent:active {
    background-color: var(--grey-color) !important;
    outline: none !important;
}

.ButtonTransparent:focus {
    background-color: var(--grey-color) !important;
}



.Wide {
    width: 100%;
}


.Blue {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.Blue:hover {
    background-color:  var(--white-color);
    color: var(--blue-color);
}

.Orange {
    background-color: var(--orange-color);
    color: var(--white-color);
}

.Orange:hover {
    background-color:  var(--white-color);
    color: var(--orange-color);
}

.Green {
    background-color: var(--green-color);
    color: var(--white-color);
}

.Green:hover {
    background-color:  var(--white-color);
    color: var(--green-color);
}

.RedTransparent,
.RedTransparent i {
    color: var(--red-color);
    border-color: var(--red-color);
}

.OrangeTransparent,
.OrangeTransparent i {
    color: var(--orange-color);
    border-color: var(--orange-color);
}

.GreenTransparent,
.GreenTransparent i {
    color: var(--green-color);
    border-color: var(--green-color);
}

/* Media query: extra small devices*/
@media screen and (max-width: 576px) {
    .ButtonGroup {
        flex-direction: column;
        justify-content: center;
    } 
}