.TableDiv {
  overflow-y: auto;
  border: 2px solid var(--blue-color);
  border-radius: 5px;
  box-shadow: 0px 4px 8px var(--blue-color);
  flex-grow: 1;
}

.Table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--white-color);
}

.TableHeader {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.TableHeaderTh {
  vertical-align: text-top !important;
  padding: 0.5rem !important;
  background-color: rgba(var(--blue-color-rgb), 0.15);
}

.Table tbody tr:nth-of-type(odd) {
  background-color: rgba(var(--blue-color-rgb), 0.05);
}

.TableHeaderTd {
  vertical-align: text-top !important;
  padding: 0.5rem !important;
}

.ClickableRow {
  cursor: pointer;
  transition: ease 0.3s;
}

.ClickableRow:hover {
  background: rgba(var(--orange-color-rgb), 0.1) !important;
}
