.Header {
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--blue-color);
  padding-inline: 20px;
  padding-bottom: 20px;
  font-size: 50px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

p {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: var(--red-color);
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(var(--white-color-rgb), 0.5);
}

.Introduction {
  background: transparent;
  color: var(--blue-color);
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(var(--white-color-rgb), 0.8) !important;
  border: 1px ridge var(--blue-color);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.Introduction a {
  font-size: 20px;
}

.LinkBlue {
  color: #007bff;
}

.LinkRed {
  color: #dc3545;
}
.LinkBlue:hover, .LinkRed:hover {
  color: --var(--grey-color) !important;
}

i:hover.Introduction {
  color: --var(--grey-color) !important;
}


.CardFeatures {
  margin-bottom: 15px;
  padding-left: 0;
}

.CardBenefits {
  margin-bottom: 15px;
  padding-right: 0;  
}

.Card {
  border: 1px ridge var(--blue-color);
  border-radius: 10px;
  margin: 5px 0 !important;
  color: var(--blue-color);
  height: 100%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.CardTitle {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;

  padding: 10px;
  margin: 0;
}

.CardBody {
  padding: 0;
  flex-grow: 1;
}

.CardText {
  margin: 0;
  color: var(--blue-color);
  font-size: 1.1rem;
  text-align: left;
}

.CardListGroupItem {
  padding: 5px 10px;
  background: rgba(var(--blue-color-rgb), 0.15) !important;
}

/* Media query: small devices*/
@media screen and (max-width: 767px) {
  .CardFeatures {
    margin-bottom: 15px;
    padding: 0;
  }
  
  .CardBenefits {
    margin-bottom: 15px;
    padding: 0;  
  }
}

/* Media query: extra small devices*/
@media screen and (max-width: 576px) {
  .Header {
    font-size: 30px;
  }
}
