.Input {
  border: 1px solid var(--blue-color);
  box-sizing: border-box;
  text-align: center;
  color: var(--blue-color);
  padding: 10px;
  background-color: #ffffffc9;
}

.Input::placeholder {
  color: var(--orange-color);
}

.InputObject {
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
  letter-spacing: 0.05em;
}

.CheckBoxObject {
  color: var(--blue-color);
  letter-spacing: 0.05em;
  font-size: larger;
  padding-bottom: 5px;
}


.InputObject:disabled {
  background-color: #e9ecef !important;
}

.InputObject::placeholder {
  color: var(--grey-color);
}