.Input {
  border: 1px solid var(--blue-color);
  box-sizing: border-box;
  text-align: center;
  color: var(--blue-color);
  padding: 10px;
  background-color: #ffffffc9;
}

.Input::placeholder {
  color: var(--orange-color);
}

.InputObject {
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
}

input[type="checkbox"].InputObject {
  width: 2rem !important;
}
