
.Input {
  border: 1px solid var(--blue-color);
  box-sizing: border-box;
  text-align: center;
  color:var(--blue-color);
  padding: 10px;
  background-color:#ffffffc9;
}

.Input::placeholder {
    color: var(--orange-color);
}

.Header {
  font-weight: bold;
  font-size: 28px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--blue-color);
  margin-bottom: 10px;
}

.Link {
  text-align: center;
  display: block;
  margin: auto;
  font-weight: bold;
}

.Link span {
  color: var(--orange-color);
}


.QuestionParagraph {
    text-align: center;
    display: block;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    color: var(--red-color);
}