.QuestionParagraph {
    text-align: center;
    display: block;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    color: var(--red-color);
    background-color: transparent;
  }