.Success {
  color: var(--green-color);
  width: 100%;
}

.Error {
  color: var(--red-color);
  width: 100%;
}

.ToastContainer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
}

.Toast {
  min-width: 250px;
}
