.EditBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Link {
  text-align: center;
  display: block;
  margin: auto;
  font-weight: bold;
  color: var(--red-color);
  border-radius: 5px;
  border-color: transparent;
  border: ridge;
  background-color: var(--white-transparent-color);
  padding: 0px 5px;
  margin: 0 10px 10px 0;
}

.Link i {
  color: var(--red-color);
  margin-left: 5px;
}
